.h1Item {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 25px;
}

.containerForm {
  padding: 0px 20px;
}

.containerEmail {
  position: relative;
}

.containerEmailIcon {
  position: absolute;
  left: 2px;
  top: 42px;
  color: gray;
}

.containerPassword {
  position: relative;
}

.containerPasswordIcon {
  position: absolute;
  left: 0px;
  top: 40px;
  color: gray;
}

.inputItem {
  width: 100%;
  padding: 10px 0px;
  padding-left: 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #b3b3b35e;
  font-size: 20px;
}

.forgotPsw {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.forgotPsw a {
  text-decoration: none;
  color: black;
}

.buttonLogin {
  background: linear-gradient(120deg, #1a96e9, #b454dd);
  font-size: 15px;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 8px 0;
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  border: none;
}

.buttonRegistration {
  background: linear-gradient(120deg, #1a96e9, #b454dd);
  font-size: 15px;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 8px 0;
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  border: none;
}

.buttonEl {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.singUp {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.socialItem {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.socialBtns {
  font-size: 35px;
}

@media screen and (min-width: 1200px) {
  .bodyItemLogin {
    background-image: url(../images/background.png); 
    background-size: cover;
    background-color: linear-gradient(120deg, #1a96e9, #b454dd);
  }
  .h1Item {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
  }

  .formRegistration {
    width: 30%;
    display: flex;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
  }

  .centerContent {
    margin: 0 auto;
  }
}
